In [42]:
#importing the dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [46]:
#loading the dataset to a pandas Dataframe
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('C:/Users/Balaji/OneDrive/Documents/Python/python project-credit/creditcard.csv')

In [47]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [48]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [49]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [50]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [51]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [52]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [53]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [54]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [55]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [57]:
#Under-Sampling
#Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions
#Number of Fraudulent Transactions --> 492
legit_sample = legit.sample(n=492)

In [60]:
#Concatenating two DataFrames

new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [61]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
208261,137041.0,-0.003231,-0.566776,-0.385915,-0.758877,-0.327358,-0.379041,0.859354,-0.211573,-1.621499,...,0.205498,0.760595,0.491982,-0.323928,-1.280466,0.742391,0.175655,0.275838,201.16,0
76273,56490.0,-18.965862,-16.358399,-5.769463,3.368673,-2.509331,-0.460128,0.668543,0.328422,1.814202,...,-2.376610,-0.867451,-6.168098,0.584123,-0.070217,-0.364211,1.413238,1.907720,488.75,0
117306,74628.0,1.259153,0.144336,0.480965,0.634343,-0.608434,-1.025156,-0.036488,-0.122850,0.265347,...,-0.274314,-0.864309,0.153231,0.334955,0.168781,0.099712,-0.038598,0.015888,1.98,0
233561,147612.0,1.963074,0.292338,-2.088707,1.190640,1.001190,-0.355398,0.395110,-0.270523,0.072857,...,0.205885,0.650704,-0.135158,-0.036460,0.425042,-0.416570,0.015713,-0.011686,59.70,0
157759,110400.0,-4.218300,4.218314,-1.811449,-2.794398,2.051454,-0.703419,3.211491,-2.202274,6.645526,...,-1.118902,0.361454,-0.394040,-0.035345,0.639584,-0.143287,1.072936,-0.441851,7.70,0

In [62]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [63]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [64]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95529.154472,0.029331,-0.052045,-0.042441,-0.003885,-0.022006,-0.014853,0.068520,0.069145,0.004186,...,0.006595,-0.012486,0.004331,0.007280,0.028004,-0.004450,-0.040988,0.028693,-0.002066,91.050183
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [68]:
#Splitting the data into Features & Targets
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [69]:
print(X)

            Time         V1         V2        V3        V4        V5  \
208261  137041.0  -0.003231  -0.566776 -0.385915 -0.758877 -0.327358
76273    56490.0 -18.965862 -16.358399 -5.769463  3.368673 -2.509331
117306   74628.0   1.259153   0.144336  0.480965  0.634343 -0.608434
233561  147612.0   1.963074   0.292338 -2.088707  1.190640  1.001190
157759  110400.0  -4.218300   4.218314 -1.811449 -2.794398  2.051454
...          ...        ...        ...       ...       ...       ...
279863  169142.0  -1.927883   1.125653 -4.518331  1.749293 -1.566487
280143  169347.0   1.378559   1.289381 -5.004247  1.411850  0.442581
280149  169351.0  -0.676143   1.126366 -2.213700  0.468308 -1.120541
281144  169966.0  -3.113832   0.585864 -5.399730  1.817092 -0.840618
281674  170348.0   1.991976   0.158476 -2.583441  0.408670  1.151147

              V6        V7        V8        V9  ...       V20       V21  \
208261 -0.379041  0.859354 -0.211573 -1.621499  ...  0.022271  0.205498
76273  -0.460128  0.668543  0.328422  1.814202  ... -5.296723 -2.376610
117306 -1.025156 -0.036488 -0.122850  0.265347  ... -0.185858 -0.274314
233561 -0.355398  0.395110 -0.270523  0.072857  ...  0.007338  0.205885
157759 -0.703419  3.211491 -2.202274  6.645526  ...  3.542184 -1.118902
...          ...       ...       ...       ...  ...       ...       ...
279863 -2.010494 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584
280143 -1.326536 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612
280149 -0.003346 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826
281144 -2.943548 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276
281674 -0.096695  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350

             V22       V23       V24       V25       V26       V27       V28  \
208261  0.760595  0.491982 -0.323928 -1.280466  0.742391  0.175655  0.275838
76273  -0.867451 -6.168098  0.584123 -0.070217 -0.364211  1.413238  1.907720
117306 -0.864309  0.153231  0.334955  0.168781  0.099712 -0.038598  0.015888
233561  0.650704 -0.135158 -0.036460  0.425042 -0.416570  0.015713 -0.011686
157759  0.361454 -0.394040 -0.035345  0.639584 -0.143287  1.072936 -0.441851
...          ...       ...       ...       ...       ...       ...       ...
279863 -0.319189  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968
280143  0.028234 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637
280149  0.834108  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361
281144 -0.269209 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700
281674 -0.295135 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309

        Amount
208261  201.16
76273   488.75
117306    1.98
233561   59.70
157759    7.70
...        ...
279863  390.00
280143    0.76
280149   77.89
281144  245.00
281674   42.53

[984 rows x 30 columns]

In [70]:
print(Y)

208261    0
76273     0
117306    0
233561    0
157759    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [72]:
#Split the data into Training data & Testing Data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [73]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [86]:
# training the Logistic Regression Model with Training Datamodel = LogisticRegression()
model = LogisticRegression()

In [ ]:
model.fit(X_train, Y_train)

In [79]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [80]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.940279542566709

In [81]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [82]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.934010152284264